@{
    ViewData["Title"] = "Done!";
}

<h2>Done!</h2>
<div>
    <p>
        We'll see you soon!
    </p>
    <p>
        <a type="button" class="btn btn-default" href="https://www.google.com/">Ok!</a>
        <META HTTP-EQUIV="Refresh" CONTENT="5;URL=@("https://www.google.com/")">
    </p>
</div>