<div class="ibox-title">
    <h5>Customer Form
        <small>Fill in all blanks</small>
    </h5>
</div>
<hr/>
<div class="col-sm-9 m-b-xs"  *ngIf="isEdit">
    <div class="btn-group">
        <p>Not able to make it last second?</p>
        <p>We've got you covered</p>
        <button class="btn btn-sm btn-white" [routerLink]="['/excuse']"> Create an excuse </button>
    </div>
</div>
<div class="ibox-content">
    
    <form #custForm="ngForm">
        <div class="form-group"><label class="col-sm-3 control-label">Customer First Name</label>
            <div class="col-sm-9">
                <input id="custFName" class="form-control"
                    required name="custFName"
                    [(ngModel)]="model.custFName" #custFName="ngModel" >
                <div *ngIf="custFName.invalid && (custFName.dirty || custFName.touched)"
                    class="alert alert-danger">
                    <div *ngIf="custFName.errors.required">
                        First Name is required.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">Customer Last Name</label>
            <div class="col-sm-9">
                <input id="custLName" class="form-control"
                    required name="custLName"
                    [(ngModel)]="model.custLName" #custLName="ngModel" >
                <div *ngIf="custLName.invalid && (custLName.dirty || custLName.touched)"
                    class="alert alert-danger">
                    <div *ngIf="custLName.errors.required">
                        Last Name is required.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">Street</label>
            <div class="col-sm-9">
                <input id="street" class="form-control"
                    required name="street"
                    [(ngModel)]="model.street" #street="ngModel" >
                <div *ngIf="street.invalid && (street.dirty || street.touched)"
                    class="alert alert-danger">
                    <div *ngIf="street.errors.required">
                        Street address is required.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">City</label>
            <div class="col-sm-9">
                <input id="city" class="form-control"
                    required name="city"
                    [(ngModel)]="model.city" #city="ngModel" >
                <div *ngIf="city.invalid && (city.dirty || city.touched)"
                    class="alert alert-danger">
                    <div *ngIf="city.errors.required">
                        City is required.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">State</label>
            <div class="col-sm-9">
                <input id="state" class="form-control"
                    required name="state" minlength="2" maxlength="2"
                    [(ngModel)]="model.state" #state="ngModel" >
                <div *ngIf="state.invalid && (state.dirty || state.touched)"
                    class="alert alert-danger">
                    <div *ngIf="state.errors.required">
                        State is required.
                    </div>
                    <div *ngIf="state.errors.minlength">
                        The state must be 2 letters.
                    </div>
                    <div *ngIf="state.errors.maxlength">
                        The state must be 2 letters.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">Zip</label>
            <div class="col-sm-9">
                <input id="zip" class="form-control"
                    required  name="zip" maxlength="5"
                    [(ngModel)]="model.zip" #zip="ngModel" 
                    pattern="^\d{5}(?:[-\s]\d{4})?$">
                <div *ngIf="zip.invalid && (zip.dirty ||zip.touched)"
                    class="alert alert-danger">
                    <div *ngIf="zip.errors.required">
                        The zip code is required.
                    </div>
                    <div *ngIf="zip.errors.pattern">
                        The zip code must be 5 NUMBERS.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input id="email" class="form-control"
                    required name="email" type="email"
                    [(ngModel)]="model.email" #email="ngModel"
                    pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' >
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="email.errors.pattern">
                        A valid email address is required.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">Phone Number</label>
            <div class="col-sm-9">
                <input id="phone" class="form-control" 
                    required name="phone" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$"
                    [(ngModel)]="model.phone" #phone="ngModel" >
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                    class="alert alert-danger">
                    <div *ngIf="phone.errors.required">
                        A phone number is required.
                    </div>
                    <div *ngIf="phone.errors.pattern">
                        You must enter a valid phone number(000-000-0000).
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">Appointment Date</label>
            <div class="col-sm-9">
                <input id="appointDate" class="form-control"
                    required name="appointDate" type="date"
                    [(ngModel)]="model.appointDate" #appointDate="ngModel" >
                <div *ngIf="appointDate.invalid && (appointDate.dirty || appointDate.touched)"
                    class="alert alert-danger">
                    <div *ngIf="appointDate.errors.required">
                        A date is required.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">Appointment Time</label>
            <div class="col-sm-9">
                <input id="appointTime" class="form-control"
                    required name="appointTime" type="time"
                    [(ngModel)]="model.appointTime" #appointTime="ngModel" >
                <div *ngIf="appointTime.invalid && (appointTime.dirty || appointTime.touched)"
                    class="alert alert-danger">
                    <div *ngIf="appointTime.errors.required">
                        A time is required.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group" *ngIf="showGuide"><label class="col-sm-3 control-label"></label>
            <div class="col-sm-9" >
                <p class="alert-danger" >If you fill out your company profile these boxes below will autofill</p>
            </div>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label">Company Name</label>
            <div class="col-sm-9">
                <input id="compName" class="form-control"
                    required name="compName" 
                    [(ngModel)]="model.compName" #compName="ngModel" >
                <div *ngIf="compName.invalid && (compName.dirty || compName.touched)"
                    class="alert alert-danger">
                    <div *ngIf="compName.errors.required">
                        Your company's name is required.
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group"><label class="col-sm-3 control-label">Company Email</label>
            <div class="col-sm-9">
                <input id="compEmail" class="form-control"
                    required name="compEmail" type="email" 
                    [(ngModel)]="model.compEmail" #compEmail="ngModel"
                    pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' >
                <div *ngIf="compEmail.invalid && (compEmail.dirty || compEmail.touched)"
                    class="alert alert-danger">
                    <div *ngIf="compEmail.errors.required">
                        Your company's email is required.
                    </div>
                    <div *ngIf="email.errors.pattern">
                        A valid email address is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2"  *ngIf="!isEdit">
                <button  [disabled]="custForm.invalid" (click)="onSubmit()" class="btn btn-white" >Send Confirmation</button>
            </div>
            <div class="col-sm-4 col-sm-offset-2" *ngIf="isEdit">
                <button  [disabled]="custForm.invalid" (click)="onEdit()" class="btn btn-white" >Update</button>
                <button  (click)="onDelete()" class="btn btn-white" >Delete</button>
            </div>
        </div>
    </form>
</div>